.Rproj.user
.Rhistory
.RData
.Rproj

inst/doc
doc
outputs
Meta

inst/app/data/
data-raw/excel-models/

test/test-lib


*.docx

inst/temp/from-fsrm.R


*.xlsb

data-raw/excel-model/

inst/admin/


debug.log

data-raw/working/working-data.xlsx

*.xlsx

inst/offline-issues/
